body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #eddede;
}

header {
    background-color: #ed3535;
    color: white;
    padding: 20px 0;
}

main {
    padding: 20px;
}

footer {
    background-color: #333;
    color: white;
    padding: 10px 0;
    margin-top: 20px;
}
